<div class="card">
  <div class="card-header">
    <p class="card-header-title is-size-5">
      <%= artist.name %>
    </p>
  </div>

  <div class="card-content">
    <div class="content mb-4">
      <p class="has-text-weight-semibold is-size-6 mb-1">
          <span>Albums:</span>
          <% artist.albums.each do |album| %>
        <p class="tag is-light mr-1 mb-1"><%= album.title %></p>
        <% end %>
      </p>

      <p class="has-text-weight-semibold is-size-6 mb-1">

          <span>Album:</span>

        <%=  %>
      </p>

    </div>

  </div>
</div>